.dashboard-panel {
	horizontal-align: right;
	flow-children: down;
	
	margin-bottom: 6px;
}

/*  ----------------  */

#open-menu {
	flow-children: right;
	horizontal-align: right;
	
	height: 36px;
	width: 336px;
	min-height: 22px;
	
	padding: 2px;

	background-color: #000000ee;
}

#open-text {
	font-size: 18px;
	letter-spacing: 2px;
	vertical-align: center;
	text-transform: uppercase;
}

#open-button-icon {
	background-image: url("file://{resources}/crutches/texture/texture_icons/crutches_logo.tga");
	background-size: 43px 35px;
}

/*  ----------------  */

#info-panel {
	width: 336px;
	height: 36px;
	
	background-color: #00000099;
}

/*  -------- NEWS --------  */


#news-button {
	visibility: collapse;
	
	background-image: url("s2r://panorama/images/control_icons/arrow_popout_png.vtex");
	background-size: 16px 16px;
	background-repeat: no-repeat;
	background-position: 95% 50%;
	
	height: 25px;
	horizontal-align: right;
	vertical-align: center;
	
	background-color: transparent;
	border: 1px solid transparent;
	wash-color: #cccccc;
}

Button#news-button:hover {
	border: 1px solid #454D53;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #3B4745 ), color-stop( 0.4, #232F37 ), to( #202B34 ) );
}

#news-button:active {
	sound: "ui_select_md";
}

#news-button Label {
	vertical-align: middle;
	color: #A3ABB1;
	margin-left: 16px;
	margin-right: 25px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
}

#news-button:hover Label {
	color: #d6d6d6;
}
#news-button:active Label {
	color: white;
}


/*  -------- WARNING --------  */

#warning-panel {
	visibility: collapse;
}

#refresh-icon {
	visibility: collapse;
	
	background-image: url("s2r://panorama/images/control_icons/refresh_psd.vtex");
	background-size: 20px;
	width: 25px;
	
	animation-name: RefreshImage;
	animation-delay: 0.0s;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: 0;
}

#warning-panel Button.Active {
	animation-iteration-count: infinite;
	animation-direction: reverse;
}

#warning-info {
	color: red;
}

@keyframes 'RefreshImage' {
	0% 
	{
		transform: rotateZ(0deg);
	}
	100%
	{
		transform: rotateZ(180deg);
	}
}

/*  -------- VERSION --------  */

#info-version {
	color: #009500;
}

#info-version.old {
	color: yellow;
}

/*  -------- global classes --------  */

.button {
	margin: 0px;
	height: 100%;
}

.icon {
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: middle;
	width: 50px;
}

.icon-button {
	margin-right: 6px;
	
	horizontal-align: right;
	vertical-align: center;
	
	wash-color: #A5ADA2ff;
}

.icon-button:hover {
	wash-color: #d6d6d6;
}
.icon-button:active {
	wash-color: white;
	sound: "ui_select_md";
}

.flow-left {
	vertical-align: center;
	horizontal-align: left;
}
.flow-right {
	vertical-align: center;
	horizontal-align: right;
}

.padding-left {
	margin-left: 14px;
	vertical-align: center;
	horizontal-align: left;
}

.padding-right {
	margin-right: 5px;
	vertical-align: center;
	horizontal-align: right;
}

.info-panel-right {
	flow-children: left;
	height: 100%;
	margin-right: 14px;
}