/* just joke XD */
/* Panel:inspect, Button:inspect, Label:inspect, 
Image:inspect, Slider:inspect, SlottedSlider:inspect {
	visibility: collapse;
} */
.brightness {
	saturation: 0;
	brightness: 0.3;
}
.inactive_item {
	saturation: 0;
	brightness: 0.9;
	contrast: 0.9;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), to( #00000000 ) );
}