.open-button {
	height: 35px;
	position: 150px 10.5px 0;
	z-index: -9999;
}

#open-icon {
	background-image: url("file://{resources}/crutches/texture/texture_icons/crutches_logo.tga");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 110%;
	wash-color: #CDF;
	width: 45px;
	height: 40px;
	opacity: 0.5;
	transition-property: opacity;
	transition-duration: 0.2s;
	tooltip-position: top;
	tooltip-body-position: 50% 50%;
}

#open-icon:hover:active {
	wash-color: #CDF;
	color: #e6e6e6;
	opacity: 1;
	text-align: left;
}