
.controls {
	z-index: 99999;
	width: 220px;
	min-width: 220px;
	
	margin: 0;
	padding: 0;
	
	flow-children: down;
	
	background-color: #000000;
}

.control {
	width: 100%;
	padding: 0 2px;
	height: 35px;
	flow-children: right;
	
	background-color: #000000;
}
.control-tree:active {
	sound: "ui_settings_multi";
}

/* === Left Line === */

.control #left-line {
	height: 100%;
    width: 2px;
	opacity: 0.5;
	margin: 1px 0;
	
	background-color: #0047b3;
	
	transition-property: background-color;
    transition-delay: 0.0s;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}
.control:hover #left-line {
	background-color: #0066ff;
	opacity: 0.7;
}
.control.Active #left-line {
	background-color: #3385ff;
	opacity: 1;
}

/* === Logo === */

.control #logo {
	vertical-align: center;
	
	wash-color: #9999aa;
	background-size: contain;
	background-repeat: no-repeat;
}
.control #logo.show {
	margin-left: 7px;
}

.control:hover #logo, .control:hover #open-array {
	wash-color: #dedede;
}
.control.Active #logo, .control.Active #open-array {
	wash-color: white;
}

/* === Laber text === */

.control Label {
	width: fill-parent-flow(1.0);
    margin-left: 7px;
	vertical-align: center;
	font-size: 18px;
	text-overflow: shrink;
}
#overlay .control Label {
	padding-top: 2px;
}
.control:hover Label {
    color: #dedede;
}
.control.Active Label {
    color: white;
}

/* === Open-Array === */

.control #open-array {
	vertical-align: center;
	horizontal-align: right;
	height: 18px;
	width: 10px;
	opacity: 0.5;
	
	wash-color: #0047b3;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0 50%;
	background-image: url("s2r://panorama/images/control_icons/arrow_solid_right_png.vtex");
}

.control:hover #open-array {
	wash-color: #0066ff;
	opacity: 0.7;
}

.control.Active #open-array {
	wash-color: #3385ff;
	opacity: 1;
}

/* === Toggle === */

.control #toggle-button {
	margin-right: 5px;
	width: 25px;
	height: 15px;
	vertical-align: center;
	box-shadow: #000000 0px 0px 5px 0px;
	border-radius: 15px;
	
	background-color: #9c9c9c;
}
.control #toggle-button:active {
	sound: "ui_rollover_micro";
}

.control #toggle-button #arm {
	horizontal-align: left;
	width: 15px;
	height: 100%;
	border-radius: 15px;
    background-color: #ffffff;
}

.control #toggle-button.on {
	background-color: #3385ff;
}

.control #toggle-button.on #arm {
	horizontal-align: right;
}

/* === Slider === */

.control #slider-panel {
	width: fill-parent-flow(1.0);
	height: 100%;
}

.control #slider-control {
	margin: 0;
	width: 100%;
    height: 100%;
}

.control #slider-control #SliderTrackProgress {
	width: 100%;
    height: 100%;
	background-color: #3385ff;
	opacity: 0.1;
    align: center center;
    z-index: 3;
}

.control #slider-control #SliderTrack {
	border: 0;
	width: 100%;
    height: 100%;
    background-color: #00000000;
    align: center center;
	z-index: 2;
}

.control #slider-control #SliderThumb {
	background-color: #0047b3;
	height: 100%;
    width: 4px;
	z-index: 4;
	box-shadow: 0 0 0 0;	
	border-radius: 0;
}

.control #slider-control:hover #SliderThumb {
	background-color: #0066ff;
}

.control #slider-value {
	vertical-align: center;
	horizontal-align: right;
	text-align: right;
	z-index: 5;
}

.control #slider-text-value {
	visibility: collapse;
	z-index: 6;
	horizontal-align: center;
	vertical-align: center;
	height: 100%;
	width: 100%;
}

.control #default-button {
	vertical-align: center;
	horizontal-align: right;
	height: 100%;
	width: 15px;
	margin-right: 5px;
	
	wash-color: #0047b3;
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url("s2r://panorama/images/control_icons/refresh_psd.vtex");
	
	transition-delay: 0.0s;
    transition-duration: 0.20s;
    transition-timing-function: ease-out;
    transition-property: transform;
    transform: rotateZ(180deg);
}
.control #default-button:hover {
	wash-color: #0066ff;
}

.control #default-button:active{
	sound: "ui_select_md";
    wash-color: #3385ff;
	transform: rotateZ(0deg);
	transition-delay: 0.7s;
	transition-duration: 0.55s;
}

.control #hand-button {
	vertical-align: center;
	horizontal-align: right;
	height: 100%;
	width: 17px;
	margin: 1px 2px 0 2px;
	
	wash-color: #0047b3;
	background-size: 11px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url("s2r://panorama/images/control_icons/edit_png.vtex");
}
.control #hand-button:hover {
	wash-color: #0066ff;
}

.control #hand-button:active{
	sound: "ui_select_md";
    wash-color: #3385ff;
}

/* === Switch === */

.control #arrow-panel{
	width: 60%;
}

.control #switch-text {
	margin: 0;
	z-index: 1;
	margin-right: 5px;
	width: 68%;
}

.control .arrow-control {
	background-size: 20px;
	
	width: 50%;
	
	wash-color: #0047b3;
	z-index: 2;
	margin: 0;
}
.control .arrow-control:hover {
	wash-color: #0066ff;
}
.control .arrow-control:hover {
	wash-color: #3385ff;
}

.control #arrow-left {	
	horizontal-align: left;
	transform: rotateZ(180deg);
	background-position: 100% 50%;
}

.control #arrow-right {
	margin-right: 5px;
	horizontal-align: right;
	background-position: 100% 50%;
}

/* === Button === */

.control #button-control {
	vertical-align: center;
	horizontal-align: center;
	width: 70%;
	height: 80%;
	padding: 2px;
	
	border-radius: 2px;
	border: 2px solid #2B344522;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0047b3 ), to( #2B3445dd ) );
	transition-property: border, background-color;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}
.control #button-control Label {
	padding: 0;
	margin: 0;
	color: white;
}
.control #button-control:hover {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0066ff ), to( #2B3445dd ) );
}
.control #button-control:active {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #404D65dd ), to( #2B3445dd ) );
	sound: "ui_generic_button_click";
	border: 2px solid #6F819B11;
}
.control #button-control:active Label {
	transform: translateY(2px);
}

/* === Title === */

.control.title {
	height: 30px;
}
.control.title Label {
	font-size: 15px;
}

/* === Selectors === */

.control #image-panel {
	height: 100%;
	flow-children: right;
	padding: 4px;
}

.control #image-panel DOTAAbilityImage,
.control #image-panel DOTAItemImage,
.control #image-panel DOTAHeroImage {
	border: 1px solid #D1D1D12F;
    box-shadow: inset 0 0 2px 0 #D1D1D12F;
    opacity: 0.50;
    border-radius: 3px;
    background-color: #000000FF;
	saturation: 0.1;
	margin: 0 1px;
}

.control #image-panel .Active {
 	transition-property: opacity, blur, saturation;
    transition-delay: 0.0s;
    transition-duration: 0.02s;
    transition-timing-function: linear;
    border: 1px solid #006fd1CF;
    box-shadow: inset 0 0 2px 0 #006fd1CF;
    saturation: 1;
    opacity: 1;
}

.control #image-panel .dragged {
	opacity: 0;
}

/* ======== global ======== */

.non-visible {
	visibility: collapse;
}

.control .fill-width {
	width: 100%;
}

.center {
	text-align: center;
	horizontal-align: center;
	vertical-align: center;
}