.main-panel {
	width: 200px;
	flow-children: down;
	z-index: 9999;
	
	visibility: collapse;
}

.main-panel.Opened {
	visibility: visible;
}

#overlay {
	width: 190px;
	min-width: 190px;
	
	horizontal-align: center;
	vertical-align: center;
}

#menu-logo {
    background-image: url("file://{resources}/crutches/texture/texture_icons/texture_logo_crutches.tga");
    background-size: 150px 55px;
}

#panel-close {
	wash-color: #9999aa;
    vertical-align: bottom;
    horizontal-align: center;
    
    background-size: 24px;
    transform: rotateZ(180deg);
    background-image: url("s2r://panorama/images/control_icons/return_to_game_png.vtex");
}


/*  -------- global classes --------  */

.capsule {
	border-radius: 10px 10px 0 0;
	width: 100%;
	height: 35px;
	
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000F0 ), to( #000000FF ) );
	
	background-repeat: no-repeat;
    background-position: 50% 50%;
}

/* === loading === */

#loading.control {
	height: 40px;
}
#loading.control Label {
	/* color: rgb(0, 119, 255); */
	margin-left: 15px;
	font-size: 22px;
}