.notify-panel {
    max-width: 45%;
    margin-bottom: 50%;
    horizontal-align: right;
    vertical-align: center;
    transition-property: transform;
    transition-timing-function: ease-out;
    transition-duration: 0.51s;
    flow-children: down;
    overflow: squish;
}

.notify-panel Label {
    text-overflow: shrink;
}

.notify-panel-child {
	opacity: 0.0; 
	transform: translateX( 200px ); 
	transition-property: position, opacity, transform; 
	transition-duration: 0.3s;
	margin: 3px 0;
	padding: 4px; 
	flow-children: right; 
	horizontal-align: right; 
	border-radius: 3px 0 0 3px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000F0 ), to( #000000F9 ) );
}

.ability-image {
    vertical-align: center;
    width: 50px;
    height: 45px;
    horizontal-align: left;
}

.info-notify {
    horizontal-align: center;
    vertical-align: center;
    vertical-align: center;
    width: 50px;
    height: 35px;
    background-image: url("s2r://panorama/images/hud/reborn/close_guide_btn_psd.vtex");
    wash-color: #FFF;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 50% 50%;
}

.hero-image {
    vertical-align: center;
    width: 65px;
    height: 44px;
    horizontal-align: right;
}